
DO \$\$
DECLARE
    constraint_name text;
BEGIN
    SELECT conname INTO constraint_name
    FROM pg_constraint
    WHERE conrelid = 'tenants'::regclass AND consrc ILIKE '%business_type%';
    
    IF constraint_name IS NOT NULL THEN
        EXECUTE 'ALTER TABLE tenants DROP CONSTRAINT ' || constraint_name;
    END IF;
END \$\$;

